iframe {
  border: 0;
}

@media (min-width: 941px) {
  iframe {
    width: calc(100% + 44px);
  }

  div:has(> div > iframe.wide) {
    width: 1186px;
  }
}

@media (max-width: 940px) {
  div:has(> div > iframe) {
    padding: 0;
    max-width: 100%;
  }
}
