iframe {
  border: 0;
}

@media (min-width: 941px) {
  iframe:not(.wide) {
    width: calc(100% + 44px);
  }

  div:has(> div > div > iframe.wide) {
    width: 1186px;
    margin-left: -173px;
  }

  div:has(> div > iframe.wide) {
    max-width: 100%;
    padding: 0;
  }
}

@media (max-width: 940px) {
  div:has(> div > iframe) {
    padding: 0;
    max-width: 100%;
  }
}
