.autoplayVideo {
  width: 100%;
  height: 100%;
}

@media (min-width: 941px) {
  .autoplayVideo {
    width: calc(100% + 33px);
  }
}

@media (max-width: 940px) {
  div:has(> .colored-block-text > .autoplayVideo) {
    padding: 0 !important;
    max-width: 100%;
  }
}
